
#swimbikerun {
    color: #0D7680;
    font-family: futura;
    font-size: 100%;
    text-align: center
    }
    .responsive {
      max-width: 10%;
      height: auto;
      padding: 5px
    }
    img {
      vertical-align:middle;
      align-content: right;
      width:  250px;
      height: 250px;
      object-fit: cover;
      padding: 5px;
    }
    
    h1{color: #0D7680;
    font-family: futura;
    font-size: 100%;
    text-align: center;
    }
    #background{
      text-align: center;
    }

    h2{
        color: #FFF9F5;
        font-family: futura;
        font-size: 100%;
        text-align: centre
        }

      * {
        box-sizing: border-box;
      }
      
      body {
        font-family: futura;
        text-transform: uppercase;
        color: rgb(61, 59, 59);
        background-color: #FFF9F5;
      }

      a:visited {
        color: #FC4C02;
        background-color: transparent;
        text-decoration: none;
      }
      
      /* Style the header */
      header {
        background-color: #0D7680;
        padding: 30px;
        text-align: center;
        font-size: 35px;
        color: white;
      }
      
      .inspo{
        display: -webkit-flex;
        display: flex;
        background-color:#FFF9F5 ;
        justify-content: space-around;
        flex-flow: wrap row;

      }
      
      /* Style the navigation menu */
      nav {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding-left: 20px;
        background-color:#FFF9F5
      }

      
      
      /* Style the list inside the menu */
      nav ul {
        padding: 10px;
        padding-top: 50px;
        list-style-type:circle;
        font-family: futura;
        text-align: left;
        background-color: white;
        vertical-align: center;
        height: 160px;
        width: 300px;
      }
      
      .section2{
        min-width: fit-content;
        vertical-align: middle;
        
        
      }
      .act-header{
        text-align: center;
      }
      .activity {
        display: flex;
        flex-flow: wrap row;
        justify-content: space-evenly;
        background-color: #FC4C02;
        padding: 5px;
        text-align: center;
        color: white;
        margin-top: auto;
        align-items: center;
      }
      .today{
        color: white;
      }
      #next-race{
        color: white;
      }
      #proj-2{
        background-color: #02b4a0;
        padding: 15px;
        text-align: center;
        color: white;
        margin-top: auto;

      }
      button{
        background-color: white;
        font-family: futura;
        color: #FC4C02;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 12px;
        padding: 15px 32px;        
      }
      
      /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
      @media (max-width: 600px) {
        section {
          -webkit-flex-direction: column;
          flex-direction: column;
        }
      }
      
 